i<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honur Code")}</%block>

<section class="container about">
<h1>${_("Honour Code")}</h1>
<p>${_("By registering in an online course, you agree to: rely solely on your own work in connection with all assessments, problems, homework and assignments (unless collaboration is expressly permitted); acknowledge any and all external sources used in your work; refrain from any activity that would dishonestly or fraudulently improve your results or disadvantage others in the course; maintain only one user account and not let anyone else use your username and/or password; and not access or attempt to access any other user's account, or misrepresent or attempt to misrepresent your identity while using the Sci-GaIA Online Courses service. This Honour Code is not intended to prohibit discussion of course material. While users must submit work that is their own, you should feel free to discuss lectures or other course material with others either in-person or online")}</p>
</section>
