nherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>
<p>${_("The Sci-GaIA Online Courses service is both a Content and a Learning Management System, based on the open courseware development platform <a href=http://openedx.org>OPEN edX</a>, delivered in the context of the European-Commission-funded Sci-GaIA project (Grant Agreement no. 654237, <a href=http://www.sci-gaia.eu>www.sci-gaia.eu</a>).  It offers free web-based courses (from single lectures to MOOC's) on e-Infrastructure services as well as on tools and applications to use and exploit them.")}</p>
</section>
